{
  "presets": [
    ["es2015", { "loose": true }],
    "react"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }],
    "react-hot-loader/babel",
    "transform-object-rest-spread"
  ]
}
